{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
   <p class="Lead">
       The Student Attendance System (Roll Call) tool is a KEA internal application used for taking students attendance by themselves. The Attendance tool can only be used within KEA's network, so if you want to sign the attendance, you must be at school. The tool can be accessed through all browsers by use of all platforms.
       Note: The Students Attendance System tool can only be used by students admitted at KEA institution and their respective lectures.

   </p>
  </div>
{% endblock %}